body {
  margin: 0;
  padding: 0;
}
#map {
  margin: auto;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 30%;
  border-radius: 20px;
  border-style: solid;
}
.found-marker {
  background-image: url('img/found-pet-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.missing-marker {
  background-image: url('img/missing-pet-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
.pet-table {
  width: 80%;
  margin: auto;
  border-style: solid;
  border-radius: 20px;
}
h1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.home {
  margin-left: 25px;
}
h2 {
  margin-left: 10%;
  padding-left: 20px;
  font-size: 20px;
}
.missing-field {
  background-color: #ffcdc7;
  border-radius: 20px;
  width: 220px;
}
.found-field {
  background-color: #C6E8C4;
  border-radius: 20px;
  width: 200px;
}
a {
  padding-left: 10%
}
a:visited {
  text-decoration: none;
}

td {
  text-align: center;
}
