@import url('https://fonts.googleapis.com/css2?family=Assistant&family=Dosis:wght@300;500&family=Poppins:wght@300;600&display=swap');
body {
  margin: 0;
  padding: 0;
  padding-bottom: 100px;
}
h1 {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  font-family: 'Assistant', sans-serif;
  margin-left: 10%;
  padding-left: 20px;
  font-size: 20px;
}
a, a:visited, a:link, a:after {
  font-family: 'Assistant', sans-serif;
  padding-left: 10px;
  text-decoration: none;
  text-decoration: none;
  color: #489df7;
}

td {
  text-align: center;
}
p, td, label {
  font-family: 'Assistant', sans-serif;
}
p.label {
  font-weight: 900;
  text-decoration: underline;
  display: inline;
}
p.value {
  display: inline;
}
th {
  font-family: 'Assistant', sans-serif;
  background-color: #a6e3ff;
  border-radius: 5px;
}
#map {
  margin: auto;
  top: 0;
  bottom: 0;
  width: 80%;
  height: 250px;
  border-radius: 20px;
  border-style: solid;
}
.found-marker {
  background-image: url('img/found-pet-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.missing-marker {
  background-image: url('img/missing-pet-icon.png');
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.mapboxgl-popup {
  width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.pet-table {
  width: 80%;
  margin: auto;
  border-style: solid;
  border-radius: 5px;
}
.missing-field {
  background-color: #ffcdc7;
  border-radius: 20px;
  width: 150px;
}
.found-field {
  background-color: #C6E8C4;
  border-radius: 20px;
  width: 150px;
}
.entry-form, .more-info-component {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  background-color: #a6e3ff;
  border-radius: 20px;
}

.form-outer, .outer-component {
  padding-left: 40px;
  padding-right: 40px;
}
